html,
body {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 1400px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
  font-size: 26px;
  box-shadow: 0 8px 3px -5px #808080;
}

.link-piskel {
  display: block;
  width: 100px;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 2px;
  font-size: 16px;
  text-decoration: none;
  color: #000;
  background-color: #b9b9b9;
  cursor: pointer;
}

.link-piskel:hover {
  background-color: #f7fbfc;
  transition: .3s background-color;
}

.section-screen {
  display: flex;
  height: 500px;
}

.content {
  width: 300px;
  text-align: center;
  font-size: 30px;
}

.gif-piskel {
  width: 1020px;
  margin: 10px;
  background: url("assets/my-piskel.gif") no-repeat;
}

.section-screen a {
  margin: auto;
}

.tools {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title-tools {
  font-size: 30px;
}

.tool {
  width: 170px;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  border: 1px solid #5c5c5c;
  box-shadow: 0 0 4px 4px #808080;
}

.tool img {
  margin: 20px;
}

.title-example {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.wrap-examples {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: 10px auto;
}

.item {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px solid #5c5c5c;
}

.panda {
  background: url("assets/Panda.gif") no-repeat;
}

.color {
  background: url("assets/color.gif") no-repeat;
}

.lama {
  background: url("assets/llama.gif") no-repeat;
}

.section-examples a {
  margin: 15px auto;
}

.footer {
  margin-top: 20px;
  box-shadow: 0 -8px 3px -5px #808080;
}

.footer .info img {
  width: 70px;
  height: 70px;
  margin: 10px;
  vertical-align: middle;
  border: 2px solid #808080;
  box-shadow: 0 0 4px #323232;
  transform: rotate(-5deg);
}

.info a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

.info a:hover {
  color: #323232;
  transition: .3s;
}

.copyright {
  padding-top: 40px;
  float: right;
}
